* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33a06d;
}

/*Hover on opinion carousel (arrow and dots)*/
.react-multi-carousel-list .react-multiple-carousel__arrow {
  &:hover {
    background-color: #33a06d !important;
  }
}

.react-multi-carousel-list .react-multiple-carousel__arrow {
  &:hover {
    background-color: #33a06d !important;
  }
}

.react-multi-carousel-dot button {
  background: transparent !important;
}

.react-multi-carousel-dot--active button {
  background: #33a06d !important;
}